// hide the iframe viewport scrollbar (WebKit)
:global(html),
:global(body) {
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  display: flex;
  overflow: hidden;
  height: auto;

  // hide the scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
}
